@model Automobilistica.Models.PropostaServico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proposta de Serviço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prcdproposta" class="control-label">Código da Proposta</label>
                <select asp-for="Prcdproposta" class ="form-control" asp-items="ViewBag.Prcdproposta"></select>
            </div>
            <div class="form-group">
                <label asp-for="Prcdservico" class="control-label">Código do Serviço</label>
                <select asp-for="Prcdservico" class ="form-control" asp-items="ViewBag.Prcdservico"></select>
            </div>
            <div class="form-group">
                <label asp-for="Prvalor" class="control-label">Valor</label>
                <input asp-for="Prvalor" class="form-control" />
                <span asp-validation-for="Prvalor" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-right: 10px;" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
