@model Automobilistica.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Alteração</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clcdcliente" />
            <div class="form-group">
                <label asp-for="Clcdpessoa" class="control-label">Código da Pessoa</label>
                <select asp-for="Clcdpessoa" class="form-control" asp-items="ViewBag.Clcdpessoa"></select>
                <span asp-validation-for="Clcdpessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cldtcadastro" class="control-label">Data de Cadastro</label>
                <input asp-for="Cldtcadastro" class="form-control" />
                <span asp-validation-for="Cldtcadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cldtalteracao" class="control-label">Data de alteração</label>
                <input asp-for="Cldtalteracao" class="form-control" />
                <span asp-validation-for="Cldtalteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clstatus" class="control-label">Status</label>
                <select asp-for="Clstatus" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="Clstatus" class="text-danger"></span>
            </div>
            <div class="form-group"style="margin-top: 10px;">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 10px;" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
