@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <title>Automobilística</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        @*<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">*@
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Bem-vindo ao Sistema de Automobilística</h1> 
        </div>
        <div class="wrapper row3">
            <main class="hoc container clear">
                <ul class="nospace group services">
                    <li class="one_third">
                        <article class="bgded overlay" style="background-color:indigo;">
                            <div class="txtwrap">
                                <i class="block fa fa-4x fa-joomla"></i>
                                <h6 class="heading">Nossa Loja Física</h6>
                                <p>Nossa Automobilística possui uma sede em Vila Velha, Rua João Follegatti, 976 - Centro de Vila Velha, Vila Velha - ES, 29100-110...[&hellip;]</p>
                                <footer><a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Privacy">Conheça mais</a></footer>
                            </div>
                        </article>
                    </li>
                    <!--<li class="one_third">
                      <article class="bgded overlay" style="background-image:url('images/demo/eco.jpg');">
                        <div class="txtwrap"><i class="block fa fa-4x fa-language"></i>
                          <h6 class="heading">Ecoturismo</h6>
                          <p>Bertioga conta com duas trilhas abertas para atividades de ecoturismo.A Trilha do Guaratuba, com nível médio de dificuldade, tem 4 km de extensão, apresenta travessia de rio, passando por áreas de restinga baixa e alta, mata de encosta e mata...[&hellip;]</p>
                          <footer><a href = "http://www.bertioga.sp.gov.br/turismo/" > Leia mais sobre &raquo;</a></footer>
                        </div>
                      </article>
                    </li>-->
                    <!--<li class="one_third">
                      <article class="bgded overlay" style="background-image:url('images/demo/indio.jpg');">
                        <div class="txtwrap"><i class="block fa fa-4x fa-lastfm"></i>
                          <h6 class="heading">Terras indígenas do Rio Silveira</h6>
                          <p>Na divisa de Bertioga com o município de São Sebastião, encontra-se um registro vivo da história do Brasil.Lá, estão as Terras Indígenas do Rio Silveira, que hoje abrigam cerca de 500 índios da etnia Guarani...[&hellip;]</p>
                          <footer><a href = "https://www.youtube.com/watch?v=PjwakQXFXb4" > Conheça a aldeia &raquo;</a></footer>
                        </div>
                      </article>
                    </li>-->
                </ul>
                <div class="clear"></div>
            </main>
        </div>
    </body>
</html>
