@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p><em>Última atualização: 01/12/2023</em></p>

<h4>1. Informações Coletadas</h4>
<p>
    <strong>1.1 Informações Pessoais:</strong>
    Coletamos informações pessoais que você fornece voluntariamente, como nome, endereço de e-mail, número de telefone e informações de pagamento quando necessário para completar uma transação.
</p>
<p>
    <strong>1.2 Informações Automáticas:</strong>
    Ao usar nosso site, podemos coletar automaticamente informações, incluindo endereço IP, tipo de navegador, provedor de serviços de internet, páginas visitadas e tempo gasto em nosso site.
</p>

<h4>2. Uso das Informações</h4>
<p>
    <strong>2.1 Processamento de Transações:</strong>
    Utilizamos suas informações pessoais para processar transações, fornecer produtos e serviços solicitados, e manter você informado sobre o status de suas transações.
</p>
<p>
    <strong>2.2 Comunicações:</strong>
    Podemos utilizar suas informações para enviar comunicações relacionadas ao serviço, como confirmações de pedidos, atualizações de conta e informações importantes sobre nossos serviços.
</p>
<p>
    <strong>2.3 Personalização:</strong>
    Usamos informações para personalizar sua experiência, oferecendo conteúdo, produtos e serviços que acreditamos serem do seu interesse.
</p>

<h4>3. Compartilhamento de Informações</h4>
<p>
    <strong>3.1 Parceiros de Serviços:</strong>
    Podemos compartilhar informações com prestadores de serviços terceirizados que nos auxiliam na prestação de serviços, suporte ao cliente, processamento de transações e análise de dados.
</p>
<p>
    <strong>3.2 Requisitos Legais:</strong>
    Reservamo-nos o direito de divulgar informações pessoais quando exigido por lei ou quando acreditamos de boa-fé que tal divulgação é necessária para proteger nossos direitos legais.
</p>

<h4>4. Segurança</h4>
<p>
    Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.
</p>

<h4>5. Cookies</h4>
<p>
    Utilizamos cookies para melhorar a experiência do usuário. Você pode optar por desativar os cookies no seu navegador, mas isso pode afetar a funcionalidade do site.
</p>

<h4>6. Atualizações da Política de Privacidade</h4>
<p>
    Esta Política de Privacidade pode ser atualizada periodicamente. A versão mais recente estará sempre disponível em nosso site com a data de última atualização.
</p>

<p>
    Se tiver dúvidas sobre esta Política de Privacidade ou sobre suas informações pessoais, entre em contato conosco através [insira o seu método de contato].
</p>

<p>Agradecemos a confiança depositada em nós e estamos empenhados em proteger sua privacidade.</p>