@model Automobilistica.Models.Servicos

@{
    ViewData["Title"] = "Create";
}

<h1>Inclusão</h1>

<h4>Serviços</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Srnome" class="control-label">Nome</label>
                <input asp-for="Srnome" class="form-control" />
                <span asp-validation-for="Srnome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Srdescricao" class="control-label">Descrição</label>
                <input asp-for="Srdescricao" class="form-control" />
                <span asp-validation-for="Srdescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Srvalor" class="control-label">Valor</label>
                <input asp-for="Srvalor" class="form-control" />
                <span asp-validation-for="Srvalor" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-right: 10px;" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
