@model Automobilistica.Models.Proposta

@{
    ViewData["Title"] = "Edit";
}

<h1>Alteração</h1>

<h4>Proposta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ppcdproposta" />
            <div class="form-group">
                <label asp-for="Ppcdcliente" class="control-label">Código do Cliente</label>
                <select asp-for="Ppcdcliente" class="form-control" asp-items="ViewBag.Ppcdcliente"></select>
                <span asp-validation-for="Ppcdcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppcdcarro" class="control-label">Código do Carro</label>
                <select asp-for="Ppcdcarro" class="form-control" asp-items="ViewBag.Ppcdcarro"></select>
                <span asp-validation-for="Ppcdcarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppcdfuncionario" class="control-label">Código do Funcionário</label>
                <select asp-for="Ppcdfuncionario" class="form-control" asp-items="ViewBag.Ppcdfuncionario"></select>
                <span asp-validation-for="Ppcdfuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppvalor" class="control-label">Valor</label>
                <input asp-for="Ppvalor" class="form-control" />
                <span asp-validation-for="Ppvalor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppdtcadastro" class="control-label">Data do Cadastro</label>
                <input asp-for="Ppdtcadastro" class="form-control" />
                <span asp-validation-for="Ppdtcadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppstatus" class="control-label">Status</label>
                <select asp-for="Ppstatus" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="Ppstatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 10px;" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
